<!-- <div class="inline-form">
    <img class="author-image" [ngClass]="{'small-image': type === 'small'}" [src]="user.profile_pic" alt="">
    <textarea class="post-input" [ngClass]="{'small-input': type === 'small'}" id="post-form-input-{{randID}}" [(ngModel)]="post.text" #postInput></textarea>
</div>
<div class="save-button-container">
    <button *ngIf="type === 'small'" class="btn save-button" (click)="close()">Close</button>
    <button *ngIf="post.text.length" class="btn save-button" (click)="save()"> Save</button>
</div> -->

<div class="form-box">
    <div #postForm [id]="randID" class="form-container" contenteditable="true"></div>
    <div class="buttons">
        <image-uploader (onUpload)="post.attachments = $event;"></image-uploader>
        <div class="save-button-container">
            <button *ngIf="type === 'small'" class="btn save-button" (click)="close()">Close</button>
            <button *ngIf="post.text.length" class="btn save-button" (click)="save()"> Save</button>
        </div>
    </div>
</div>