@import '../../../../styles.scss';
.post-input {
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 50px; // Change this eventually
    max-height: 200px;
    padding: 10px;
    background: $primary-background;
    border: none;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7);
}

.inline-form {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    margin-right: 5px;
}

.save-button-container {
    text-align: right;
    button {
        margin-right: 10px;
        margin-bottom: 5px;
    }
}