<div class="form-group">
	<input
		(input)="updateForm(); checkEmail()"
		[(ngModel)]="personal_info.email"
		type="email"
		class="form-control form-input"
		placeholder="Email"
		[ngStyle]="{'border-color': emailTaken ? 'red' : personal_info.email | inputValidation: 'email' }"
	/>
	<span *ngIf="emailTaken">Email Taken</span>
</div>
<div class="form-group">
	<input
		type="password"
		(input)="updateForm()"
		[(ngModel)]="personal_info.password"
		class="form-control form-input"
		placeholder="Password"
		[ngStyle]="{'border-color': personal_info.password | inputValidation: 'password' }"
	/>
</div>
<div class="form-group">
	<input
		type="password"
		(input)="updateForm()"
		[(ngModel)]="personal_info.confirm_password"
		class="form-control form-input"
		placeholder="Confirm Password"
		[ngStyle]="{'border-color': personal_info.password+'\n'+personal_info.confirm_password | inputValidation: 'confirm_password' }"
	/>
</div>
<div class="form-group">
	  <span style="color:#ab3b3b;" *ngIf="!(personal_info.password == personal_info.confirm_password) || personal_info.password == ''" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span style="color:green;" *ngIf="(personal_info.password == personal_info.confirm_password) && personal_info.password != ''" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	<span>
		Password Strength: 
		<span [ngStyle]="{'color':personal_info.password | passwordStrength:'color'}">
			{{personal_info.password | passwordStrength: 'text'}}
		</span>
	</span> 
	<br>
	<span *ngIf="!(personal_info.password == personal_info.confirm_password) && personal_info.password != ''">
		Warning: 
		<span>
			Passwords do not match.
		</span>
	</span>
</div>

<div class="form-group">
	<input (input)="updateForm()" [(ngModel)]="personal_info.first_name" type="text" class="form-control form-input" placeholder="(Optional) First Name" />
</div>
<div class="form-group">
	<input (input)="updateForm()" [(ngModel)]="personal_info.last_name" type="text" class="form-control form-input" placeholder="(Optional) Last Name" />
</div>
<div class="form-group input-group">
  <span style="background:transparent; border: 0; font-size:20px;" class="input-group-addon" id="basic-addon1">@</span>
  <input
		(input)="updateForm(); checkTag()"
		(keydown.space)="$event.preventDefault()"
		[(ngModel)]="personal_info.tag"
		type="text"
		class="form-control form-input"
		placeholder="Enter your user tag"
		aria-describedby="basic-addon1"
		[ngStyle]="{'border-color': tagTaken ? 'red' : personal_info.tag | inputValidation: 'username' }"
	/>
	<span *ngIf="tagTaken">Tag Taken</span>

</div>
<div class="form-group">
	<input
		(input)="updateForm();"
		[(ngModel)]="personal_info.display_name"
		type="text"
		class="form-control form-input"
		placeholder="Enter your display name"
		aria-describedby="basic-addon1"
	/>
</div>
<div class="input-group post-form">
  <textarea 
  	(input)="updateForm()" 
  	[(ngModel)]="personal_info.description" 
  	class="form-control post-input" rows="5"  
  	aria-describedby="basic-addon2" id="text-post" 
  	placeholder="(Optional) Write a short bio about yourself.">
  </textarea>
</div>

<!-- <span style="float:right; margin-top:15px;">
	Next: Profile Picture and Banner
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</span>
 -->
