<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img alt="Brand" [src]="'http://i.imgur.com/4FU28w8.png'">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="options collapse navbar-collapse" id="bs-example-navbar-collapse-1" [ngClass]="{'in': !isCollapsed}">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" dropdown *ngIf="Authorized">
                    <a dropdownToggle class="dropdown-toggle">
                        <span style="font-size:25px;" class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item">No Notifications</a> </li>
                    </ul>
                </li>
                <li class="dropdown" dropdown *ngIf="Authorized">
                    <a dropdownToggle class="dropdown-toggle img">
                        <img class="img-responsive profile" [src]="user.profile_pic" alt="">
                    </a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" href="#">Copy Link</a> </li>
                        <li role="menuitem"><a class="dropdown-item">Delete</a></li>
                        <li role="menuitem" [routerLinkActive]="['active']"><a class="dropdown-item" routerLink="settings">Settings</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-middle" *ngIf="Authorized">
                <li id="home" [routerLinkActive]="['active']">
                    <a pageScroll [pageScrollDuration]="300" (click)="emitMerger()" routerLink="home" href="#home-page">
                        <i style="font-size:25px;" class="fa fa-home" aria-hidden="true"></i>
                        <span class="icon-value">{{unread_count > 0 ? '(' + unread_count + ')' : ''}}</span>

                        <span class="title"> Home {{unread_count > 0 ? '(' + unread_count + ')' : ''}}</span>
                    </a>
                </li>
                <li id="profile" [routerLinkActive]="['active']">
                    <a routerLink="profile">
                        <i style="font-size:25px;" class="fa fa-user" aria-hidden="true"></i>
                        <span class="title"> Profile </span>
                    </a>
                </li>
                <li id="profile" [routerLinkActive]="['active']">
                    <a routerLink="hub">
                        <i style="font-size:25px;" class="fa fa-users" aria-hidden="true"></i>
                        <span class="title"> Discover </span>
                    </a>
                </li>
                <li id="profile" [routerLinkActive]="['active']">
                    <a routerLink="hub">
                        <i style="font-size:25px;" class="fa fa-gamepad" aria-hidden="true"></i>
                        <span class="title"> Games </span>
                    </a>
                </li>
                <li id="profile" [routerLinkActive]="['active']">
                    <a routerLink="hub">
                        <i style="font-size:25px;" class="fa fa-signal" aria-hidden="true"></i>
                        <span class="title"> Hub </span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>