<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
      [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img alt="Brand" src="http://i.imgur.com/4FU28w8.png">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="options collapse navbar-collapse" id="bs-example-navbar-collapse-1" [ngClass]="{'in': !isCollapsed}">
      <div class="navbar-form navbar-right" *ngIf="Authorized">
        <button type="submit" class="btn sign-up-button" (click)="logout()">Sign Out</button>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="notifications">
            <span style="font-size:20px;" class="glyphicon glyphicon-record" aria-hidden="true"></span>
          </a>
        </li>
        <!-- Will have to find a workaround to make this work because of ngx -->
        <li class="dropdown" *ngIf="Authorized">
          <a href="#" class="dropdown-toggle img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-responsive profile" [src]="user.profile_pic" alt="">
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-middle" *ngIf="Authorized">
        <li id="home" [routerLinkActive]="['active']">
          <a (click)="homeClick()" routerLink="home" >
            Home {{unread_count > 0 ? '(' + unread_count + ')' : ''}}
          </a>
        </li>
        <li id="profile" [routerLinkActive]="['active']"><a routerLink="profile" >Profile</a></li>
        <li id="profile" [routerLinkActive]="['active']"><a routerLink="hub">Discover</a></li>
        <li id="profile" [routerLinkActive]="['active']"><a routerLink="hub">Games</a></li>
        <li id="profile" [routerLinkActive]="['active']"><a routerLink="hub">Hub</a></li>
      </ul>
      
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>