@import '../../../styles.scss';
.navbar {
    height: 55px;
    padding: 0 0 0 0;
    background: $primary-background;
    border-bottom: 2px solid rgba(0, 0, 0, 0.32);
}

.nav>li>a {
    color: $default-font-color;
    font-weight: bold;
    border: 0;
    text-shadow: none;
    overflow: hidden;
    max-height: 53px;
    text-align: center;
    transition: padding-top 200ms ease-in;
    i {
        transition: margin-top 200ms ease-in;
    }
}

.navbar-middle>li>a:hover {
    height: 55px;
    i,
    .icon-value {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: -40px;
    }
    .title {
        display: block;
        margin-top: 0;
    }
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.sign-up-button,
a.dropdown-toggle {
    background-color: transparent;
    border-right: $thin-border-dark;
    border-left: $thin-border-dark;
    transition: box-shadow 300ms ease-in;
    color: #000;
}

.sign-up-button:hover,
a.dropdown-toggle:hover {
    color: #000;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    background: transparent;
}

.options.navbar-collapse.collapse.in,
.options.navbar-collapse.collapsing {
    background: $secondary-background;
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

a.dropdown-toggle {
    height: 55px;
}

a.dropdown-toggle.img {
    padding: 7px 10px 0 10px;
    box-shadow: none;
}


/*Style for hover navbar option*/

.nav>li.active>a,
.navbar-default .nav>li.active>a:focus,
.nav>li>a:hover {
    background-color: $primary-background-transparent;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 150ms ease-in;
}

.notifications {
    box-shadow: none !important;
    background-color: transparent !important;
}

.title {
    font-size: 13px !important;
    display: block;
    margin-top: 60px;
    transition: margin-top 200ms ease-in;
}