<h3>User Details</h3>
<div class="form-group">
	<input [(ngModel)]="email" type="email" class="form-control form-input" placeholder="Email" />
</div>
<div class="form-group">
	<input type="password" [(ngModel)]="password" class="form-control form-input" placeholder="Password"/>
</div>
<div class="form-group">
	<input type="password" [(ngModel)]="confirm_password" class="form-control form-input" placeholder="Confirm Password"/>
</div>
<div class="form-group">
	  <span style="color:#ab3b3b;" *ngIf="!(password == confirm_password) || password == ''" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span style="color:green;" *ngIf="(password == confirm_password) && password != ''" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	<span>
		Password Strength: 
		<span [ngStyle]="{'color':password | passwordStrength:'color'}">
			{{password | passwordStrength: 'text'}}
		</span>
	</span> <br>
	<span *ngIf="!(password == confirm_password) && password != ''">
		Warning: 
		<span>
			Passwords do not match.
		</span>
	</span>
</div>

<div class="form-group input-group">
  <span style="background:transparent; border: 0; font-size:20px;" class="input-group-addon" id="basic-addon1">@</span>
  <input [(ngModel)]="tag" type="text" class="form-control form-input" placeholder="Enter your user tag" aria-describedby="basic-addon1">
</div>
<div class="input-group post-form">
  <textarea [(ngModel)]="bio" class="form-control post-input" rows="5"  aria-describedby="basic-addon2" id="text-post" placeholder="Write a short bio about yourself."></textarea>
</div>
