@import '../../../styles.scss';
@import '../home/home.scss';

.settings-container {
    margin-top: 70px;
}

.setting-id {
    float: left;
}

.setting-edit {
    float: right;
}

.setting-edit a {
    cursor: pointer;
    padding-left: 8px;
}

.post-input:disabled {
    background: dimgray;
    color: white;
}