<div class="signup-page">
	<div class="text-center signup-page-container container">
		<p style="position:absolute; top:60px; left:10px;cursor: pointer;" routerLink="">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			Return to login
		</p>
		<h2>Come Join the Fun!</h2>
		<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
			<login-info *ngIf="view == 'login-info'" (formEmitter)="handleData($event)"></login-info>
			
			<!-- 
				We will make use of the other sections of the wizards once we get further into development and have a use for profile pics and can actually connect external accounts 
				- Sabin 05/04/17
			-->

			<!-- <account-images *ngIf="view == 'images'"></account-images> -->
			<!-- <account-link-register *ngIf="view == 'acc-link'"></account-link-register> -->
			<button type="button" class="btn btn-primary btn-lg btn-block" style="margin-top:10px;"
			[disabled]="!form.email.length || form.password != form.confirm_password || !form.tag.length"
			(click)="createAccount()">
				Create Account
			</button>
		</div>
	</div>
</div>
