@import "../../../styles.scss";

.signup-page-container {
	padding-top:60px;
	height:100%;
	width:100%;
}

button {
	background: transparent;
	text-shadow:none;
	border: $thicc-border-dark;
	color:$default-font-color;
}