  <div class="widgets-page">
      
    <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs widgets">

      <div class='wrapper'>

        <div class='' [dragula]='"first-bag"'>
            <div class="box">
              <div class="col-lg-12" style="margin:0; padding:0;">
                <ul class="list-group discover">
                  <li class="list-group-item" style="text-align:left; background-color:#28282b;">Discover Users</li>
                  <li class="list-group-item">
                    <img src="https://lh3.googleusercontent.com/YqlXGn_KbC5zxxEDr12vsYWjcMpZokEmGZ76opYh4VmRwa2FCP6fHYzFcad5-xj4C677=w300" style="height:auto; max-width:40px;" class=" img-rounded" alt="">
                    @Xbox
                    <span class="label label-info">Follow</span>
                  </li>
                  <li class="list-group-item">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Playstation_logo_colour.svg/2000px-Playstation_logo_colour.svg.png" style="height:auto; max-width:40px;" class=" img-rounded" alt="">
                    @PlayStation
                    <span class="label label-info">Follow</span>
                  </li>
                </ul>
              </div>
            </div>
        </div>

        <div class='col-lg-12' [dragula]='"first-bag"'>
          <div class="box text-center">
            <div class="col-lg-12" style="margin:0; padding:0;">
              <ul class="list-group discover">
                <li class="list-group-item" style="text-align:left; background-color:#28282b;">Group Finder</li>
                <li class="list-group-item">Destiny: Need 1 for Crota</li>
                <li class="list-group-item">WoW: Need 2 for boss</li>
                <li class="list-group-item">Pokemon: Anyone wanna trade?</li>
              </ul>
            </div>
          </div>
        </div>

        <div class='col-lg-12' [dragula]='"first-bag"'>
          <div class="box text-center">
            <div class="col-lg-12" style="margin:0; padding:0;">
              <ul class="list-group discover">
                <li class="list-group-item" style="text-align:left; background-color:#28282b;">Chat Box</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="mySidenav" class="sidenav">
      <div class='wrapper'>
        <div class='col-lg-12' [dragula]='"first-bag"'>
          <div class="box text-center">
            <div class="col-lg-12" style="margin:0; padding:0;">
              <ul class="list-group discover">
                <li class="list-group-item" style="text-align:left; background-color:#28282b;">Notifications</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>

  <!-- Use any element to open the sidenav -->
    <span id="toggler" class="open-btn" (click)="toggleNav()">
      <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    </span>