<div class="media">
    <div class="media-left media-top">
        <a [routerLink]="[ '/u', comment.tag] ">
            <img class="media-object img-rounded author-image" [attr.src]="comment.profile_pic" alt="...">
        </a>
    </div>
    <div class="media-body">
        <p>
            <a class="author-name" [routerLink]="[ '/u', comment.tag] "> {{comment.display_name}} </a>
            <small>{{ comment.timestamp | amTimeAgo }} </small>
        </p>
        <p class="text-container">
            <span *ngFor="let chunk of comment.text" class="text-element " [ngSwitch]="chunk.indexOf(comment.uuid)==0 ">
                <a *ngSwitchCase="true " class="mention" [routerLink]="[ '/u', chunk.replace(regex, '') ] ">@{{chunk.replace(regex, '')}}</a>
                <span *ngSwitchCase="false ">{{chunk}}</span>
            </span>
        </p>
    </div>

    <div class="image-grid ">
        <div *ngFor="let image of comment.images; let i=index ">
            <img *ngIf="i==0 " class="grid-image img-responsive no-open " [src]="image.src" (click)="openImage(i, $event) " />
        </div>
        <span class="badge image-count-badge " *ngIf="comment.images.length> 1">1 of {{comment.images.length}}</span>
    </div>
</div>