@import '../../../../styles.scss';
.box {
    border-radius: 3px;
    background: $secondary-background;
    margin-bottom: 2px;
    hr {
        margin: 0;
        padding: 0;
        opacity: 0.8;
    }
}

.box:hover {
    transition: background 200ms ease-in;
    background: darken($secondary-background, 1);
}

.header-grid {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .author-profile-pic {
        border-radius: 50%;
    }
    .primary-pic {
        height: 50px;
        width: 50px;
    }
    .sub-pic {
        height: 40px;
        width: 40px;
    }
    .post-data {
        margin-top: 2px;
        margin-left: 10px;
        width: 100%;
    }
}

.action-dropdown {
    float: right;
    margin: 10px;
}

.action-button {
    border: 0 !important;
}

.feed-item-actions {
    padding: 5px 10px;
}

.text-container {
    margin-top: 10px;
}

.image-grid {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-item: center;
    justify-content: center;
    text-align: center;
    color: darken($primary-background, 10%);
    span.image-count-badge {
        color: $secondary-background;
        font-weight: bolder;
        width: 45px;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 7px;
        margin: auto;
    }
}

.grid-image {
    max-height: 300px;
    border-radius: 3px;
    margin: 10px auto 10px auto;
}