<div class="dropdown action-dropdown" dropdown>
    <a dropdownToggle class="dropdown-toggle">
        <span class="glyphicon glyphicon-collapse-down dropdown-icon" aria-hidden="true"></span>
    </a>
    <ul *dropdownMenu class="dropdown-menu pull-right" role="menu">
        <li role="menuitem"><a class="dropdown-item">Copy Link</a></li>
        <li role="menuitem"><a class="dropdown-item" *ngIf="user.ID == post.user.ID" (click)="deleteItem(post.ID, post.comment_ID, post.reply_ID)">Delete</a></li>
        <li role="menuitem"><a class="dropdown-item">Share</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item">Report Post</a>
        </li>
    </ul>
</div>
<div class="box-top" (click)="showModal()">
    <div class="feed-item-header">
        <div class="header-grid">
            <div class="author-image">
                <img class="author-profile-pic" [src]="post.user.profile_pic" alt="">
            </div>
            <div class="post-data">
                {{post.user.display_name}}
                <small>{{post.creation_date | amTimeAgo}}</small>
            </div>
        </div>
    </div>
    <div class="feed-item-body">
        <p class="text-container ">
            <span *ngFor="let chunk of post.text " class="text-element" [ngSwitch]="chunk.indexOf(post.uuid)==0 ">
                    <a *ngSwitchCase="true " class="mention" [routerLink]="[ '/u', chunk.replace(regex, '') ] ">@{{chunk.replace(regex, '')}}</a>
                    <span *ngSwitchCase="false ">{{chunk}}</span>
            </span>
        </p>
    </div>
</div>