<style>
  .round-progress {
      background: url(http://i.imgur.com/Rk2T0KW.png);
      background-size: cover;
      border-radius:50%;
      background-repeat:no-repeat;
      background-position:center center;
  }
</style>
<round-progress class="round-progress"
    [current]="user.exp_count"
    [max]="user.next_level_xp"
    [color]="'#45ccce'"
    [background]="'#eaeaea'"
    [radius]="60"
    [stroke]="10"
    [semicircle]="false"
    [rounded]="false"
    [clockwise]="true"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
>
</round-progress>
