@import '../../../styles.scss';
.login-container {
	padding-top:5%;
	background-color:$secondary-background;
	height:100%;
	position:absolute;
	right:0;
    box-shadow: inset 8px 4px 9px -6px rgba(0,0,0,0.4);
}

.login-page-container {
	padding-top:60px;
}

.login-form {
	width:80%;
	margin:auto;
	padding-top:20px;
}
