<div class="feed-item-actions">
    <div class="actions" [ngSwitch]="post.user.ID == user.ID">
        <!-- Switch Cases (Shows differently if it is yours, so you'll know you can't click it) -->
        <button style="cursor: default;" *ngSwitchCase="true" class="static-stat action-button" [ngStyle]="{'background-color':post.liked ? '#985E6D' : '' }">   
            <i class="fa fa-heart"></i><span class="action-text">{{post.likes.length}}</span> 
        </button>
        <button *ngSwitchCase="false" (click)="likePost()" class="" [ngStyle]="{'background-color':post.liked ? '#985E6D' : '' }">
            <i class="fa fa-heart" ></i><span class="action-text">{{post.likes.length}}</span> 
        </button>
        <!-- End Switch Cases  -->
        <!-- Number of responses to this post  -->
        <button class="action-button static-stat">
            <i class="fa fa-comment"></i> <span class="action-text">{{post.response_count || 0}}</span><!-- Comments -->
        </button>
        <!-- Will show share count  -->
        <button class="action-button static-stat" (click)="openInput()">
            <i class="fa fa-mail-reply"></i> <span class="action-text">0</span><!-- Shares -->
        </button>
        <!-- Will show Experience the post has gained the user -->
        <button class="action-button" style="float:right;">
            <i class="glyphicon glyphicon-signal"></i> <span class="action-text">{{post.exp_count || 0}}</span>
        </button>
    </div>
</div>