@import '../../../../styles.scss';
.panel {
    max-width: 800px;
    margin: auto;
    margin-bottom: 2px;
    border: $thin-border-dark;
    background: $accent-background;
}

.author-image {
    max-height: 50px;
    width: auto;
}

.post-panel:hover {
    background: $primary-background;
}

.author-stats,
.dropdown {
    float: right;
}

// Required for dropdown to show properly
.media,
.media-body {
    overflow: initial;
}

li {
    list-style-type: none;
    text-align: center;
    a {
        color: $default-font-color;
        font-weight: bold;
        border: 0;
        text-shadow: none;
    }
}

.static-stat {
    border: none !important;
}

.image-grid {
    text-align: center;
    span.image-count-badge {
        color: $secondary-background;
        font-weight: bolder;
        width: 45px;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 7px;
    }
    img {
        max-height: 300px;
        border-radius: 3px;
        margin: 10px auto 10px auto;
    }
}

.author-name {
    font-weight: bolder;
    color: $default-font-color;
}

.dropdown-icon {
    font-size: 18px;
    color: $default-font-color;
}

// Modal Styles
.post-modal {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    background: $primary-background;
}

.modal-header {
    border-color: $secondary-background;
}

.author-image {
    max-height: 40px;
    width: auto;
}

.panel-heading {
    background: $accent-background;
}

.post-form.input-group {
    width: 100%;
}

.buffer-alert {
    background: $secondary-background;
    color: $default-font-color;
    text-align: center;
    margin: 8px 0;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        transition: background 150ms ease-in;
        background: darken($secondary-background, 10%);
    }
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
    width: 10px;
}

.btn-file {
    margin: 0 2px;
    background: $primary-background;
    border: 0;
    text-shadow: 0;
    color: $default-font-color;
    border-radius: 7px;
    overflow: hidden;
    font-size: 19px;
}

.well.images {
    min-height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1f1a25;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1) !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 1) !important;
}

.remove-upload {
    color: #a74040;
    font-size: 9px;
    transition: color 300ms ease-in;
    cursor: pointer;
}

.remove-upload:hover {
    color: #902323;
}

.action-grid {
    margin-top: 10px;
    margin-left: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.action-buttons {
    display: flex;
    flex-direction: row;
}

.uploading {
    float: left;
    margin: 10px;
}

.uploaded-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.uploaded-image {
    max-height: 50px;
    width: auto;
    border-radius: 10px;
}

.image-container {
    margin: 5px 10px 0 5px;
}

.post-button {
    margin-left: auto;
    border-radius: 5px;
    width: 75px;
}