<div class="modal-dialog modal-lg post-modal">
    <div class="modal-content" style="padding-top:10px;">
        <div class="modal-header">
            <div class="media">
                <div class="media-left media-top">
                    <a [routerLink]="[ '/u', post.tag] ">
                        <img class="media-object img-rounded author-image" [attr.src]="post.profile_pic" alt="...">
                    </a>
                </div>
                <div class="media-body">

                    <a class="author-name" [routerLink]="[ '/u', post.tag] "> {{post.display_name}} </a>
                    <small>{{ post.post_date | amTimeAgo }} </small>

                    <div class="dropdown pull-right" dropdown>
                        <a dropdownToggle class="dropdown-toggle">
                            <span class="glyphicon glyphicon-collapse-down dropdown-icon" aria-hidden="true"></span>
                        </a>
                        <ul *dropdownMenu class="dropdown-menu pull-right" role="menu">
                            <li role="menuitem"><a class="dropdown-item">Copy Link</a></li>
                            <li role="menuitem"><a class="dropdown-item" *ngIf="user.ID == post.user_ID" (click)="deletePost()">Delete</a></li>
                            <li role="menuitem"><a class="dropdown-item">Share</a></li>
                            <li class="divider dropdown-divider"></li>
                            <li role="menuitem"><a class="dropdown-item">Report Post</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pull-right" style="margin-right:10px;">
                        <button type="button" class="btn btn-sm btn-primary">
                            Follow
                        </button>
                    </div>
                </div>
                <br>
                <p class="text-container">
                    <span *ngFor="let chunk of post.text" class="text-element " [ngSwitch]="chunk.indexOf(post.uuid)==0 ">
                        <a *ngSwitchCase="true " class="mention" [routerLink]="[ '/u', chunk.replace(regex, '') ] ">@{{chunk.replace(regex, '')}}</a>
                        <span *ngSwitchCase="false ">{{chunk}}</span>
                    </span>
                </p>
                <div class="image-grid ">
                    <div *ngFor="let image of post.images; let i=index ">
                        <img *ngIf="i==0 " class="grid-image img-responsive no-open " [src]="image.src" (click)="openImage(i, $event) " />
                    </div>
                    <span class="badge image-count-badge " *ngIf="post.images.length> 1">1 of {{post.images.length}}</span>
                </div>
                <!--Options/Stats-->
                <div class="actions" [ngSwitch]="post.user_ID == user.ID">
                    <!-- Switch Cases -->
                    <button *ngSwitchCase="true" class="static-stat no-open" [ngStyle]="{'background-color':post.liked ? '#985E6D' : '' }">
                            <i class="fa fa-heart no-open"></i><span class="action-text no-open">{{post.likes}}</span> 
                        </button>
                    <button *ngSwitchCase="false" class="action-button no-open" (click)="likePost()" [ngStyle]="{'background-color':post.liked ? '#985E6D' : '' }">
                            <i class="fa fa-heart no-open" ></i><span class="action-text no-open">{{post.likes}}</span> 
                        </button>
                    <!-- End Switch Cases  -->
                    <button class="action-button no-open static-stat">
                            <i class="fa fa-comment"></i> <span class="action-text no-open">{{post.comment_count}}</span><!-- Comments -->
                        </button>
                    <button class="action-button no-open static-stat">
                            <i class="fa fa-mail-reply"></i> <span class="action-text no-open">0</span><!-- Shares -->
                        </button>
                    <button class="action-button no-open" style="float:right;">
                            <i class="glyphicon glyphicon-signal no-open"></i> <span class="action-text no-open">{{post.exp_count}}</span>
                        </button>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <timeline-form [(form)]="new_comment" (submitData)="saveComment()"></timeline-form>
            <hr class="full-secondary">
            <div class="post-responses" *ngFor="let comment of post.comments">
                <timeline-response [response]="comment"></timeline-response>
                <div class="replies" style="margin-left:40px; margin-top:10px; margin-bottom:10px;">
                    <timeline-response *ngFor="let reply of comment.replies" [response]="reply"></timeline-response>
                </div>
            </div>
        </div>
    </div>
</div>