#home-page {
    padding-top:60px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color:;
}

.widgets {
	height:100%;
	background:transparent;
	overflow-y:scroll;
	width:280px;
	margin-left:20px;
}
.box {
  color:#000;
}

