@import '../../../styles.scss';
.panel-container {
    height: 100%;
    padding: 0;
    padding-top: 48px;
    margin: 0;
    min-width: 170px;
    max-width: 220px;
    border-right: $thin-border-dark;
}

.timeline-container,
.chatbar-container {
    padding: 53px 7px 5px 7px;
    z-index: -1;
}

.timeline-container {
    max-width: calc(100vw - 70px);
}

#wcontainer {
    right: 0;
    height: 100%;
    // max-width: 170px;
    // min-width: 220px;
    background: $secondary-background;
}