@import '../../../styles.scss';

#home-page {
    padding-top:48px;
}

.panel-container {
	border:$thicc-border-dark;
	height:100%;
	padding:0;
	margin:0;
}

.timeline-container, .widgets-container {
	margin-top:10px;
}

.widgets-container {
	right:0;
}