@import '../../../styles.scss';

#home-page {
    padding-top:48px;
}

.panel-container {
	border:$thicc-border-dark;
	height:100%;
	max-width:300px;
	min-width:250px;
	padding-right:0;
}

.timeline-container, .widgets-container {
	margin-top:10px;
}

.widgets-container {
	max-width: 300px;
	min-width: 250px;
	right:0;
}