<div id="timeline">

    <div class="panel">
        <div class="panel-heading">
            <timeline-form [(form)]="new_post" (submitData)="savePost()"></timeline-form>
        </div>
    </div>

    <div class="alert alert-success buffer-alert" *ngIf="post_buffer.length > 0" (click)="mergeBuffer()" role="alert">
        Show {{post_buffer.length}} new Posts
    </div>

    <timeline-post-preview (destroyPost)="handleDestroyPost($event)" id="ngpost-{{post.ID}}" *ngFor="let post of posts" [post]="post"></timeline-post-preview>
    <div class="alert alert-success buffer-alert" *ngIf="loading || end">
        <span *ngIf="loading">Loading More...</span>
        <span *ngIf="end">No More Posts! Make more friends...</span>
    </div>
</div>