.panel-heading {
  background-color:transparent;
}
.panel-body {
  background-color:rgba(22, 25, 33, 0.96);
}
.panel {
  /*background-color:rgba(18, 20, 33, 0.77);*/
  background-color:rgba(33, 50, 72, 0.85);
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border:0;
  box-shadow:0 0 5px rgba(22, 22, 25, 0.69);
  margin-bottom:2px;
}
.author-image {
  max-height:40px;
  width:auto;
}

.post-form.input-group {
  width:100%;
}
.post-form> textarea{
  border-radius:7px;
  color:#fff;
  background-color: rgba(31, 43, 63, 0.6);
  border: 0;
}

