@import '../../../styles.scss';

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: $primary-background;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 53px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

.chat-menu {
    position: fixed;
    bottom: 0;
    background: $secondary-background;
    width: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.open-btn {
    font-size: 25px;
    color: rgba(149, 107, 185, 1);
    cursor: pointer;
    transition: font-size 450ms ease-in;
}

.open-btn:hover {
    display: inline-block;
    transform: rotate( -180deg);
    transition: transform 450ms ease;
    font-size: 30px;
}

.chat-circle {
    margin: 10px auto 10px auto;
    height: 60px;
    width: 60px;
    border-width: 3px;
    border-style: solid;
    background-size: cover !important;
    border-radius: 50% !important;
    background-repeat: no-repeat !important;
    background-position: center center;
}

.wrapper {
    text-align: center !important;
    padding: 0px 8px;
    padding-bottom: 35px;
}

.online-status {
    float: right;
}