<!-- 
  Don't bother with any of the chatbar stuff too much yet. Will be changed a lot once we get to the 
  chatting functionality
 -->

<ng-template #itemTemplate let-item="item" let-index="index">
    <img class="chat-circle" src="http://placehold.it/100x100" alt="">
</ng-template>

<div class="widgets-page">
    <div class='wrapper'>
        <bs-sortable [(ngModel)]="itemStringsLeft" [itemTemplate]="itemTemplate" fieldName="name" itemClass="sortable-item" itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"></bs-sortable>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class='wrapper'>
        <!-- Item Template could be a different template for hidden chats. Like just the name of the chat or something -->
        <bs-sortable [(ngModel)]="itemStringsRight" [itemTemplate]="itemTemplate" itemClass="sortable-item" fieldName="name" itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="sortable-item" wrapperClass="sortable-wrapper"></bs-sortable>
    </div>
</div>
<!-- Use any element to open the sidenav -->
<span id="toggler" class="open-btn" (click)="toggleNav()">
      <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
</span>