<ng-template #itemTemplate let-item="item" let-index="index">
    <div class="chat-circle" [ngStyle]="{'border-color': item.initData.online ? 'rgba(149, 107, 185, 1)' : '#2C2F33', 'background-image' : 'url(' + item.initData.image + ')' }"></div>
</ng-template>

<div class="widgets-page">
    <div class='wrapper'>
        <bs-sortable [(ngModel)]="itemStringsLeft" [itemTemplate]="itemTemplate" fieldName="name" itemClass="sortable-item" itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"></bs-sortable>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div class='wrapper'>
        <bs-sortable [(ngModel)]="itemStringsRight" [itemTemplate]="itemTemplate" itemClass="sortable-item" fieldName="name" itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="sortable-item" wrapperClass="sortable-wrapper"></bs-sortable>
    </div>
</div>

<div class="chat-menu">
    <span id="toggler" class="open-btn" (click)="toggleNav()">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    </span>
</div>