.author-image {
  max-height:50px;
  width:auto;
}

.panel-heading {
  background-color:transparent;
}
.panel-body {
  background-color:rgba(31, 39, 62, 0.38);
}
.panel {
  /*background-color:rgba(18, 20, 33, 0.9);*/
  background-color:rgba(33, 50, 72, 0.85);
  border-radius:0;
  border:0;
  box-shadow:0 0 5px rgba(22, 22, 25, 0.69);
  margin-bottom:2px;
}


