<div class="panel">
  <div class="panel-heading">
    <div class="media">
      <div class="media-left media-top">
        <a href="#">
          <img class="media-object img-rounded author-image" [attr.src]="post.profile_pic" alt="...">
        </a>
      </div>
      <div class="media-body">
        <p>{{post.display_name}} <small>{{ post.timestamp | amTimeAgo }}</small><span class="author-stats">Lvl. 9</span> </p>
        <p>{{post.text}}</p>
        <!-- Deal with images and multiple images here -->
        <img src="http://placehold.it/500x200" class="img-responsive" alt="">
      </div>
    </div>
    <div class="actions">
      <button class="action-button">
        <i class="fa fa-heart"></i> <span class="action-text">{{post.like_count}}</span> 
      </button>
      <button class="action-button">
        <i class="fa fa-comment"></i> <span class="action-text">{{post.comment_count}}</span><!-- Comments -->
      </button>
      <button class="action-button">
        <i class="fa fa-mail-reply"></i> <span class="action-text">0</span><!-- Shares -->
      </button>
      <button class="action-button" style="float:right;">
        <i class="glyphicon glyphicon-signal"></i> <span class="action-text">{{post.exp_count}}</span>
      </button>
    </div>
  </div>

  <div class="panel-body">
    <div class="comment-form">
      <div class="media">
        <div class="media-left media-top">
          <a href="#">
            <img class="media-object img-rounded input-user-image" src="http://placehold.it/50x50" alt="...">
          </a>
        </div>
        <div class="media-body">
          <input [(ngModel)]="postText" class="form-control input-box" aria-describedby="basic-addon2" id="text-post" placeholder="What do you have to say?"/>
        </div>
      </div>
    </div>
  </div>
  
</div>
