@import '../../../../styles.scss';

.panel {
  max-width:800px;
  margin:auto;
  margin-bottom:5px;
}
.author-image {
  max-height:50px;
  width:auto;
}

.panel-heading {
  border-bottom: $thin-border-dark;
}

.author-stats {
	float:right;
}

.static-stat {
	border:none !important;
}

.image-grid {
	margin-top:10px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
  	align-item:center;
  	justify-content:center;
  	text-align:center;
  	color:darken($primary-background, 10%);
  	span.image-count-badge {
  		color:$secondary-background;
  		font-weight:bolder;
  		width:45px;
  		background:rgba(0,0,0,0.4);
  		border-radius:7px;
  		margin:auto;
  	}
}

.grid-image {
	max-height:300px;
	border-radius:3px;
	margin:10px auto 10px auto;
}

:host /deep/ #post-text > a {
  color: rgba(149, 107, 185, 0.74);
  font-weight:bolder;
  &:hover {
    text-decoration:none;
    opacity:0.8;
  }
}
