@import '../../../../styles.scss';

.author-image {
  max-height:50px;
  width:auto;
}

.panel-heading {
  border-bottom: $thin-border-dark;
}

.author-stats {
	float:right;
}

.static-stat {
	border:none !important;
}