//********************** Accent Colors ************************//

$cloud: #98878F;
$sunset: #985E6D;

//********************** Main Colors ************************//

$primary-background: #202335;
$secondary-background: #252a42;

//************************ Borders **************************//

$thicc-border: 2px solid rgba(0,0,0,0.2);
$thin-border: 1px solid rgba(0,0,0,0.2);

//********************** Font Colors ************************//

$default-font-color: #c3c3c3;

//********************** Other Styles ************************//

body {
  background-color:$primary-background;
  color:$default-font-color;
}

.no-padding {
  padding:0;
}

.auto-margin {
  margin:auto;
}

//********************** Input Boxes ************************//

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 2000px #0e0e0e inset;
  -webkit-text-fill-color: #516b94 !important;
  border:2px solid #0e0e0e !important;
}

 input:-webkit-autofill:hover {
	-webkit-box-shadow: 0 0 0px 2000px #0e0e0e inset;
  -webkit-text-fill-color: #516b94 !important;
 }

 input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 2000px #000 inset;
  -webkit-text-fill-color: #516b94 !important;
 }

.input-box {
  color:$default-font-color;
  border-color:transparent;
  background-color:$primary-background;
  width:100%;
}

//********************** Text Areas ************************//

.post-form> textarea{
  border-radius:2px;
  color:$default-font-color;
  border: 0;
  background-color:$primary-background;

}

//********************** Action Buttons (Like, Comments, Shares) on posts ************************//

.actions {
  margin-top:5px;
}

.action-button {
  background:transparent;
  border:0;
}

.action-button > i {
  font-size:16px;
}

.action-text {
  margin-left:5px;
}

.input-user-image {
  max-height:30px;
  width:auto;
}

//********************** Panels ************************//

.panel {
  border-radius:0;
  background-color:$secondary-background;
  margin-bottom:5px;
}

.panel-heading {
  background-color:$secondary-background;
  border-radius:0;
}
