//********************** Accent Colors ************************//

$cloud: #98878F;
$sunset: #985E6D;
$evening: #192231;
$stormy: #494E6B;
$emerald-transparent: rgba(94, 152, 133, 0.52);
$emerald: rgb(94, 152, 133);
$smoky-green: -webkit-radial-gradient(top center, ellipse cover, $emerald-transparent 0%, $stormy 100%);

//********************** Main Colors ************************//

$primary-background: rgb(32, 35, 53);
$primary-background-transparent: rgba(32, 35, 53, 0.8);
$secondary-background: #252a42;

//************************ Borders **************************//

$thicc-border-dark: 2px solid rgba(0,0,0,0.2);
$thin-border-dark: 1px solid rgba(0,0,0,0.2);
$thicc-border-light: 2px solid rgba(197, 197, 197, 0.08);
$thin-border-light: 1px solid rgba(197, 197, 197, 0.08);

//********************** Font Colors ************************//

$default-font-color: #c3c3c3;

//********************** Other Styles ************************//

button:focus,button:active {
   outline: none !important;
}

body {
  background-color:$primary-background;
  color:$default-font-color;
}

.no-padding {
  padding:0;
}

.auto-margin {
  margin:auto;
}

// Temp scrollbar solution (Change to individual elements eventually)
::-webkit-scrollbar { 
    display: none; 
}

//********************** Buttons ************************//

button {
  background: transparent;
  text-shadow:none;
  border: $thicc-border-dark !important;
  color:$default-font-color;
}

//********************** Input Boxes ************************//

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 2000px #0e0e0e inset;
  -webkit-text-fill-color: #516b94 !important;
  border:2px solid #0e0e0e !important;
}

 input:-webkit-autofill:hover {
	-webkit-box-shadow: 0 0 0px 2000px #0e0e0e inset;
  -webkit-text-fill-color: #516b94 !important;
 }

 input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 2000px #000 inset;
  -webkit-text-fill-color: #516b94 !important;
 }

.input-box {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius:2px;
  color:$default-font-color;
  border:$thicc-border-light;
  background-color:$primary-background;
  width:100%;
}

.form-input {
  border-radius:2px;
  color:$default-font-color;
  border:$thicc-border-light;
  background-color:$primary-background;
  width:100%;
  height:40px;
}

//********************** Text Areas ************************//

textarea {
  resize: none;
}

.post-form> textarea{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius:2px;
  color:$default-font-color;
  border: $thicc-border-light;
  background-color:$primary-background;

}

//********************** Action Buttons (Like, Comments, Shares) on posts ************************//

.actions {
  margin-top:5px;
}

.action-button {
  background:transparent;
  border:0;
}

.action-button > i {
  font-size:16px;
}

.action-text {
  margin-left:5px;
}

.input-user-image {
  max-height:30px;
  width:auto;
}

//********************** Panels ************************//

.panel {
  border-radius:0;
  background-color:$secondary-background;
  margin-bottom:5px;
}

.panel-heading {
  background-color:$secondary-background;
  border-radius:0;
}

//********************** Exp Profile Image ************************//

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 150px;
.progress-pie-chart {
  width: $size - 2;
  height: $size - 2;
  border-radius: 50%;
  background-color: $primary-background;
  position: relative;
  &.gt-50 {
    background-color: #81CE97;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #81CE97;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: $primary-background;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  overflow: hidden;
  img {
    width: $size/1.15;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 25px auto 0;
}

//********************** Loading Bubbles ************************//

.load-2 .line:nth-last-child(1) {animation: loadingB 1.5s 1s infinite;}
.load-2 .line:nth-last-child(2) {animation: loadingB 1.5s .5s infinite;}
.load-2 .line:nth-last-child(3) {animation: loadingB 1.5s 0s infinite;}


.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

@keyframes loadingB {
    0 {width: 15px;}
    50% {width: 35px;}
    100% {width: 15px;}
}