<!--
    Maybe make feed-item-actions be able to optionally show actions based on input
    That way we can only show the like option for comments and replies
-->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <feed-item type="primary" [post]="post" (deleteItem)="deleteItem($event, null, null, 'post')"></feed-item>
        <post-form (onSave)="saveComment($event)"></post-form>
        <div class="modal-body">
            <div class="header-grid comments-block" *ngFor="let comment of post.comments; let index =index; let isOdd=odd; let isEven=even" [ngClass]="{'even-comment': isEven, 'odd-comment': isOdd}">
                <feed-item (showInput)="comment['commenting']=$event;" type="sub" [post]="comment" (deleteItem)="deleteItem(post.ID, $event, null, 'comment')"></feed-item>
                <post-form *ngIf="comment.commenting" type="small" (closeMe)="comment.commenting = $event" (onSave)="saveReply($event, comment.ID); comment.commenting = false;"></post-form>
                <hr class="full-blue">
                <div class="header-grid comments-block replies-block" *ngFor="let reply of comment.replies">
                    <feed-item type="sub" [post]="reply" (showInput)="comment['commenting']=$event;" (deleteItem)="deleteItem(post.ID, comment.ID, $event, 'reply')"></feed-item>
                    <hr class="full-blue">
                </div>
            </div>
        </div>
    </div>
</div>