@import '../../../../styles.scss';
.main-post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.header-grid {
    padding: 5px 10px 5px 10px;
    width: 100%;
    .author-profile-pic {
        margin-top: 10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .comment-pic {
        height: 35px;
        width: 35px;
    }
    .post-data {
        margin-top: 2px;
        margin-left: 10px;
        width: 100%;
    }
}

.modal-content {
    background: $primary-background;
    position: absolute;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.even-comment {
    background: $secondary-background;
}

.odd-comment {
    background: $primary-background;
}

.modal-header {
    border-bottom: $thin-border-light;
}

.action-button {
    border: 0 !important;
}

.feed-item-actions {
    margin-top: 20px;
}

.action-dropdown {
    float: right;
    &.main-dropdown {
        margin: 10px;
    }
}

.post-data {
    display: flex;
    flex-direction: column;
    .post-info {
        margin-bottom: 5px;
    }
    .text-container {
        max-width: 500px;
    }
}

.comment-box {
    // border-left: $thin-border-light;
    padding-left: 10px;
    padding-bottom: 5px;
}

.modal-body {
    padding: 10px 0;
}