@import '../../../../styles.scss';
.main-post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.header-grid {
    padding: 5px 10px 5px 10px;
    width: 100%;
    .author-profile-pic {
        margin-top: 10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .comment-pic {
        height: 35px;
        width: 35px;
    }
    .post-data {
        margin-top: 2px;
        margin-left: 10px;
        width: 100%;
    }
}

.modal-content {
    background: rgba(33, 37, 43, 0.95);
    position: absolute;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.even-comment {
    background: $secondary-background;
}

.odd-comment {
    background: $primary-background;
}

.modal-header {
    border-bottom: $thin-border-light;
}

.action-button {
    border: 0 !important;
}

.feed-item-actions {
    margin-top: 20px;
}

.action-dropdown {
    float: right;
    &.main-dropdown {
        margin: 10px;
    }
}

.post-data {
    display: flex;
    flex-direction: column;
    .post-info {
        margin-bottom: 5px;
    }
    .text-container {
        max-width: 500px;
    }
}

.comment-box {
    padding-left: 10px;
    padding-bottom: 5px;
}

.modal-body {
    padding: 10px 0;
}

.comments-block {
    padding-left: 15px;
}

.replies-block {
    padding: 0 0 0 40px;
}

.timeline {
    list-style: none;
    padding: 25px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgba(0, 0, 0, 0.2);
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    max-height: 400px;
    min-height: 80px;
}

.timeline>li>.timeline-panel {
    width: 50%;
    float: left;
    border: $thicc-border-dark;
    border-radius: 2px;
    position: relative;
    max-height: 400px;
    overflow: scroll;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline>li.timeline-inverted+li:not(.timeline-inverted),
.timeline>li:not(.timeline-inverted)+li.timeline-inverted {
    margin-top: -60px;
}

.timeline>li:not(.timeline-inverted) {
    padding-right: 90px;
}

.timeline>li.timeline-inverted {
    padding-left: 90px;
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.page-header {
    background: rgba(0, 0, 0, 0.2);
    border: 0;
    margin: 0;
    padding: 20px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

.timeline-cont {
    max-width: 900px;
    padding: 0;
    margin: 0;
}