@import '../../../styles.scss';

#profile-side-panel {
  // padding-top:10px;
  overflow-y:scroll;
  height:100%;  
  background:$secondary-background;
}

.top-grid {
  text-align:center;
  flex-wrap:wrap;
  display:flex;
  flex-direction:column;
  align-items: center;
  padding-bottom:10px;
  width:100%;
  // border-bottom:$thicc-border-dark;
  h3 {
    margin-bottom:4px;
  }

  p {
    margin:0;
  }
  .col-2, .col-1 {
    margin:auto;
  }
}

.bottom-grid {
  padding-top:10px;
  display:flex;
  flex-wrap:wrap;
  align-item: center;
  justify-content:space-around;

  .item-50p {
    text-align:center;
    width:50%;
  }
}

.list-group {
  margin-top:10px;
  padding: 0 40px;
}
.list-group-item {
  text-align:center;
  border: $thicc-border-light;
  background:transparent;
}