<div id="profile-side-panel">
    <div class="container" class="data-container">
      <div class="row text-center">
        <img class="img-rounded img-responsive profile-pic" src="http://placehold.it/500x500" style="" alt="">
        <p>{{'@' + user.tag || "No Tag"}}</p>
      </div>
      <div class="row">
        <div class="data">
          <ul>
            <li>
              {{user.post_count || 0}}
              <span>Posts</span>
            </li>
            <li>
              {{user.follower_count || 0}}
              <span>Followers</span>
            </li>
            <li>
              {{user.following_count || 0}}
              <span>Following</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
    
    <!-- <div class="col-lg-12 text-center profile-footer">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <p><a style="font-size:10px;">About</a></p>
          <p><a style="font-size:10px;">Contact Us</a></p>
          <p><a style="font-size:10px;">FAQ</a></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <p><a style="font-size:10px;">Wanna Help?</a></p>
          <p><a style="font-size:10px;">Design Notes</a></p>
          <p><a style="font-size:10px;">Calendar</a></p>
        </div>
      </div>
    </div> -->
</div>