<div id="sidebar-wrapper">
  <div style="padding:0px 10px 10px 10px;">
    <div class="container-fluid">
      <div class="row text-center">
        <img class="img-rounded img-responsive profile-pic" src="http://i.imgur.com/hA67T1c.png" style="" alt="">
        <p>@myname</p>
      </div>
      <div class="row">
        <div class="data">
          <ul>
            <li>
              2,934
              <span>Posts</span>
            </li>
            <li>
              1,119
              <span>Followers</span>
            </li>
            <li>
              530
              <span>Following</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="sidebar-wrapper" class="bottom-wrapper">
  <ul class="list-group">
    <li class="list-group-item" style="text-align:center; background-color:rgba(38, 52, 91, 0.18);">Discover Users</li>
    <li class="list-group-item">
      <img src="https://lh3.googleusercontent.com/YqlXGn_KbC5zxxEDr12vsYWjcMpZokEmGZ76opYh4VmRwa2FCP6fHYzFcad5-xj4C677=w300" style="height:auto; max-width:40px;" class=" img-rounded"alt="">
      @Xbox
      <!--<a class="btn btn-default">Follow</a>-->
      <span class="label label-info">Follow</span>

    </li>
    <li class="list-group-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Playstation_logo_colour.svg/2000px-Playstation_logo_colour.svg.png" style="height:auto; max-width:40px;" class=" img-rounded" alt="">
      @PlayStation
      <!--<a class="btn btn-default">Follow</a>-->
      <span class="label label-info">Follow</span>

    </li>
    <li class="list-group-item">
      <img src="http://placehold.it/100x100" style="height:auto; max-width:40px;" class=" img-rounded"alt="">
      @Gamr
      <!--<a class="btn btn-default">Follow</a>-->
      <span class="label label-info">Follow</span>

    </li>
  </ul>
</div>
