.profile-pic {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  margin-bottom:5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border: 5px solid rgba(0,0,0,0.4);
  box-shadow: 0 0 10px rgba(66, 111, 146, 0.79);
  border-radius:50%;
  transition: box-shadow 0.3s ease-in-out;
}

.profile-pic:hover {
  box-shadow: 0 0 20px rgb(63, 99, 130);
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  position: fixed;
  padding-top:45px;
  background: rgb(43, 43, 47);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow:0 0 5px rgba(22, 22, 25, 0.69);
  height:100%;
  left:0;
  top:0;
}

data {
  margin-top: .6em;
  color: #81878b;
}
.data ul {
  padding:0;
}

.data li {
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 1.2em;
  border-right: solid 1px #2a2a2f;
  transition:background-color 200ms ease-in;
}

.data li:hover {
  background-color: rgba(27, 39, 58, 0.48);
  border-radius: 6px;
}

.data li:last-child {
  border: none;
}

.data li span {
  display: block;
  text-transform: uppercase;
  font-size: .5em;
  margin-top: .6em;
  font-weight:700;
}
.list-group-item {
  background:transparent;
  border-color:transparent;
}

@media(min-width:700px) {

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper #sidebar-wrapper {
    width: 0;
  }

  #sidebar-wrapper.bottom-wrapper {
    top:345px;
    background:rgba(31, 62, 38, 0.18);
  }

}

.discover {
  width:100%;
}

.label{
  position:absolute;
  right:10px;
  top:20px;
}

.label-info {
  background-color:#2c4461;
}

.data-container {
  padding: 0px 10px 10px 10px;
  background: #28282b;
}

.nav-tabs {
    border-top: 1px solid #35353a;
    border-bottom:0;
    background-color: #28282b;
}

.nav-tabs>.active>a {
  background-color:#6bbf6b;
}

.profile-tabs>a {
  border:0;
  border-radius:0;
  color:#fff;
}

.profile-footer {
  margin:0;
  position:absolute;
  max-height:100px;
  bottom:0;
  background-color:#28282b;
  padding:10px;
  bottom:0;
  width:100%;
}

.list-group {
  margin:0;
}
